 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  body{
    font-family: 'Rubik Mono One', sans-serif;
    }

    :root var{
    color: red;
    color: yellow;
        color: rgba(0, 128, 0, 1);
    }  

    .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }

    #red {
    background-color: red;
    }

#green{
    background-color: rgba(0, 128, 0, 1);
    }

#yellow{
    background-color: yellow;
    }

.numbers {
    position: absolute;
    right: 0;
    top: 30px;
}
  
.uno,
.due,
.tre {
    background-color: white;
    border-radius: 55%;
    padding: 0.8rem 1rem;
    margin: 1rem 1rem;
    text-align: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
  }

 #red ,
 #green,
 #yellow{
  height: 100vh;
  width: 100%;
  position: relative;
    }
    
 h1 {
    color: yellow;
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    }
.first_shoes,
.second_shoes,
.third_shoes {
    width: 100%;
}
#yellow h1 {
    color: green;
  }
